.cost-container {
  min-width: 200px;
  max-width: 330px;
  z-index: var(--z-05-street-cost);
  flex-direction: column;
  align-items: flex-start;
  line-height: 0;
  display: flex;
  position: absolute;
  top: 50px;
  left: 30px;
  padding: 10px;
  margin-top: 10px;
  background: var(--off-white);
  box-shadow: var(--light-box-shadow);
  border-radius: var(--border-radius);
  justify-content: space-between;
}
